@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: #fff;
    --primary-green: #56fd3c;
    --secondary-green: #06d6a0;
    --secondary-hover-green:#0ac593;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-blue:#3da3d5;
    --secondary-blue:rgb(201, 251, 255);
    --header-height: 93vh;
    --card-radius: 25px;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: "Roboto Condensed", sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/********************NAVBAR***************************************/

nav {
    z-index: 3;

    /*Sticky:*/
    position: sticky !important;
    top:0;
    /*----*/
}

.logo {
    width: 8rem;
    /*16.25rem*/
}
/*----------------MENU LINKS----------------*/

nav a.nav-link {
    /*font-weight: 500;*/
    font-size: 0.8rem;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav>li>a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: .1875rem solid var(--primary-dark);
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 2rem;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
    border-top: .1875rem solid var(--primary-green);
}

.navbar-nav>li>a:hover {
    border-top: .1875rem solid var(--primary-green);
}


/********************HEADER***************************************/

.header-wraper {
    position: relative;
    background: url(code-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: var(--header-height);
    /*box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;*/
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 1;
}

.hello-text-wraper{
    display: flex;
    flex-direction: column;
}

.main-info h3 {
    color: var(--secondary-green);
}

.main-info h1 {
    color: var(--primary-green);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80px;
}

/*----------------TYPED TEXT----------------*/

.typed-wrap {
    font-size: 2rem;
    color: var(--primary-white);
}

.typed-text {
    color: var(--primary-white);
    font-weight: bold;
}


/*----------------HEADER MAIN OFFER BUTTON----------------*/

.btn-main-offer {
    border: 1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem !important;
    border-radius: 5px;
    color: var(--primary-white);
    margin: 0.5rem;

    transition: all .2s ease-in-out;
}

.btn-main-offer:hover {
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    font-weight: bold;
    

    transform: scale(1.2);
}


/*----------------SOCIAL MEDIA BUTTON----------------*/

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-social-media {
    border-radius: 0;
    padding: 0.2rem;
    margin: 0.1rem;

    transition: all .2s ease-in-out;
}

.btn-social-media:hover {
    transform: scale(1.5);
}

/*----------------Arrow Down----------------*/
.arrow-down{
    opacity: 0.8;
    position: absolute;
    bottom: 0;
}

/*----------------PARTICLES JS----------------*/

.particles-canvas {
    position: absolute;
    height: var(--header-height);
    width: 98vw;
    z-index: 1;
}

/********************COMPONENT***************************************/
.component-wrapper{
    position: relative;
    background-position: center;
    background-size:cover;
    background-image: #fdfbfb;

    padding-top: 60px;
}

.component-content{
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 1;
}

.component-title-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5rem;
}

.component-title{
    margin:0;
    text-align: center;
}

.component-title::after{
    content: "\A....";
    white-space: pre;
}

.component-body-area{
    width: 100% !important;
    display: inline-block;

    /*old background*/
    /*background: var(--primary-blue);*/

    /*new background, IS IT GOOD????*/
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #5db6ab 100%);
    /*-------------------*/

    font-size: 16px;
    color: rgb(53, 53, 53);
    /*box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;*/
}


.component-button{/**Note: use for buttons, doesnt apply to timelene and header buttons */
    border-radius: 5px;
    color: var(--primary-white);
    margin: 0.5rem;
    
    transition: all .2s ease-in-out;
}

@media only screen 
and (max-width: 48rem) {
    .navbar-brand {
        width: 7rem;
    }
    .main-info h3 {
        font-size: 0.9rem !important;
    }
    .main-info h1 {
        font-size: 1.7rem !important;
    }
    .typed-wrap {
        font-size: 1rem !important;
    }
    .typed-text::before {
        content: "\A";
        white-space: pre;
    }
    .typed-text {
        font-size: 1.2rem !important;
    }
    .typed-text::after {
        content: "\A";
        white-space: pre;
    }
    .btn-main-offer {
        margin: 0.5rem !important;
    }
    .particles-canvas {
        display: none;
    }
}

@media only screen 
and (max-device-width: 823px) 
and (orientation: landscape){
    .hello-text-wraper{
        flex-direction: row;
    }

    .main-info h1 {
        font-size: 1.2rem !important;
    }

    .typed-wrap {
        font-size: 0.8rem !important;
    }
    .typed-text::before {
        content: "\A";
        white-space: nowrap;
    }
    .typed-text {
        font-size: 0.9rem !important;
    }
    .typed-text::after {
        content: "\A";
        white-space: nowrap;
    }
    .btn-main-offer{
        padding: 0.1rem 0.15rem 0.15rem 0.15rem;
        color: var(--primary-white);
       
    }

}

/************************TIMELINE*************************/
.vertical-timeline-element-title{
    padding-top: 0.25em;
}

.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }

  .timeline-date {
    color: var(--secondary-blue);
  }

  #timeline-description {
    margin: 1.5em 0 2em 0;
  }

  .timeline-button {
    text-decoration: none !important;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }

  .timeline-button:hover{
    color: white;
  }

  .workButton {
    background-color: #f9c74f;
  }

  .workButton:hover {
    background-color: #f3bc3c;
  }

  .schoolButton {
    background-color: var(--secondary-green);
  }

  .schoolButton:hover {
    background-color: var(--secondary-hover-green);
  }

  @media only screen and (max-width: 1024px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }

/************************SKILL GRID*************************/
.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size:1.2rem;
}

.skill-box{
    padding:1rem;
    color:#fff;
}

.skill-box:hover .skill-img{
    transform: translateY(-10px);
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before{
    width:35px;

}

.skill-title{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0.5rem;
    margin-bottom:0.5rem;
    position:relative;
}

.skill-title::after{
    content:"";
    position:absolute;
    bottom:0;
    right:50%;
    width:0;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--primary-green);
    transition: .5s;
}

.skill-title::before{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    width:0;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: var(--primary-green);
    transition: .5s;
}

.skill-img{
    width: 90px;
    height: 90px;
    position:relative;
    border-radius: 45px;
    background-color:var(--secondary-blue);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skill-img::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.2);
    border-radius: 45px 0 0 45px;
}

.skill-title h3{
    color:#fff;
    margin-top:0.5rem;
}

.skill-icon{
    z-index: 2;
}

@media only screen and (max-width: 990px){
    .skills-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media only screen and (max-width: 650px){
    .skills-container{
        grid-template-columns: 1fr;
    }
}

/************************Project Card*************************/

.card{
    max-width:25rem;
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.3) !important;
    transition: transform 0.5s ease;
    border-radius: var(--card-radius) !important;

    background-image: linear-gradient(120deg, #fdfbfb 0%, #e7e7e7 100%);
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.7) !important;

    background-image: linear-gradient(120deg, #fdfbfb 30%, #e7e7e7 70%);
    transition: background-color 1000ms linear;
}

.card-body{
    padding:3rem 0 !important;
    border: #282c34;
    
}

.card-title{
    font-weight: bold;
}

.card-text{
    font-size: 0.9rem;
    padding:0.4rem 1.9rem;
}

.card-tech-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.1rem 80px;
    font-size:0.9rem;
    height: 8rem;
    font-size: 15px;
}

.tech-item{
    text-align: center;
    border-top: 0.5px solid #000000;
    border-bottom: 0.5px solid #000000;
    border-left:  0.5px solid #000000;
    border-right:  0.5px solid #000000;;
    background-color: rgb(33, 43, 61);
    color: rgb(255, 255, 255);
}

.overflow{
    border-radius: var(--card-radius) var(--card-radius)  0px 0px !important;
    overflow: hidden;
}

.card-img-top{
    width:100%;
    height: 10rem;
    transform: scale(1);
    transition: transform 1.5s ease;
}

.card:hover > .overflow>.card-img-top{
    transform:scale(1.1);
}

@media only screen and (max-width: 1366px){
    .card-tech-grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 0rem 50px;
        grid-gap: 0.5rem;
        font-size:0.7rem;
    }
}


    
